body {
    background: url("thumbnail.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Roboto', sans-serif;;
}

header{
    padding:30px;
    text-align: center;
    color:white;
    background-color: rgba(96,96,96,0.6);
    position: relative;
}

nav ul {
    display:flex;
    position: absolute;
    left: 1000px;
}

nav ul li {
    padding-left:10px;
    margin-left: 20px;
}

/* Styling form and table as grid */ 
.container{
    width:90vw;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}

#formID {
    height:300px;
    padding:30px;
    color:white;
    font-weight: 700;
    background-color: rgba(96,96,96,0.6);
    margin: 30px;
}

#formID input {
    margin:25px;
}

#formID select {
    margin:25px;
    width:170px;
}

#formID input[type='submit'] {
    padding:5px 70px;
    border: 1px solid black;
    font-weight:700;

}

/* Styling the table */ 
#table {
    margin:30px;
    background-color: rgba(96,96,96,0.6);
    padding:10px;
    font-weight:700;
    color:white;
}

table th {
    border: 1px solid white;
    padding:10px 20px;
}

table td {
    padding: 10px 20px
}